Repository reactorcoremeltdown/dustbag: changes, and which Woodpecker steps are due for each by the changed paths.
All: all_early, all_monitoring, all_users, outpost_gotify, production_firewall

all_early:
  steps:
    build:
      image: bash
      commands:
      - echo $GIT_SUDO | sudo -S make early
      environment:
        GIT_SUDO:
          from_secret: git_sudo

all_monitoring:
  steps:
    clone:
      image: bash
      commands:
      - git clone --depth=1 ${CI_REPO_CLONE_SSH_URL}
    build:
      image: bash
      commands:
      - cd ${CI_REPO_NAME} && echo $GIT_SUDO | sudo -S make wtfd_package checks wtfd MACHINE_ROLE=${ROLE}
      environment:
        GIT_SUDO:
  ...

all_users:
  steps:
    clone:
      image: bash
      commands:
      - git clone --depth=1 ${CI_REPO_CLONE_SSH_URL}
    build:
      image: bash
      commands:
      - cd ${CI_REPO_NAME} && echo $GIT_SUDO | sudo -S make users MACHINE_ROLE=${ROLE}
      environment:
        GIT_SUDO:
          from_secret: git_sudo

outpost_gotify:
  steps:
    build:
      image: bash
      commands:
      - echo $GIT_SUDO | sudo -S make gotify
      environment:
        GIT_SUDO:
          from_secret: git_sudo

production_firewall:
  steps:
    build:
      image: bash
      commands:
      - echo $GIT_SUDO | sudo -S make firewall
      environment:
        GIT_SUDO:
          from_secret: git_sudo

Bootstrap most important binaries as the very first step
  stages/early/early.mk
  stages/early/files/iacd.service
Due: all_early

Changed conditional to avoid misfires
  stages/early/early.mk
Due: all_early

Install DNS hetzner cloud package only on production system
  stages/early/early.mk
Due: all_early

Added a preflight script for curl | bash convenience
  preflight.sh
Due: none

Enabled builds on printserver
  .woodpecker/all_early.yaml
Due: all_early

Enabled monitoring job for all targets
  .woodpecker/all_monitoring.yaml
Due: all_monitoring

Enabled packages job on all targets
  .woodpecker/all_packages.yaml
Due: none

Enabled services job on all targets
  .woodpecker/all_services.yaml
Due: none

Enabled users job on all targets
  .woodpecker/all_users.yaml
Due: all_users

Converted printer config to IACD
  stages/services/includes/media/configs/printer.yaml
  stages/services/includes/media/media.mk
Due: none

Migrated nginx configs of dav and webdav to iaсd
  stages/services/includes/nginx/configs/nginx_sites.yaml
  stages/services/includes/nginx/nginx.mk
  stages/services/includes/nginx/templates/nginx/sites/dav.conf.tmpl
  stages/services/includes/nginx/templates/nginx/sites/webdav.conf.tmpl
  variables/main.json
Due: none

Forgot to save nginx ssl ciphers
  stages/services/includes/nginx/templates/nginx/sites/webdav.conf.tmpl
Due: none

Relaunched dave under syncthing user
  stages/services/includes/media/configs/dave.yaml
Due: none

Fixed a bad copy-pasta
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
Due: none

Dummy change to trigger a pipeline
  stages/services/services.mk
Due: none

Added next versions of iacd file and directory entries
  stages/early/files/etc/iacd/entities/iac.rcmd.space/directory.v2
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file.v2
Due: none

Switched early stage configs to file.v2 version of iacd entities
  stages/early/files/cfg/apt_configs.yaml
  stages/early/files/cfg/facts.yaml
  stages/early/files/cfg/locales.yaml
  stages/early/files/cfg/profiles.yaml
  stages/early/files/cfg/vault_binaries.yaml
Due: none

Added/modified install.v2 and directory.v2 resources
  stages/early/files/etc/iacd/entities/iac.rcmd.space/install.v2
Due: none

Overhauled monitoring IaC configs
  stages/monitoring/configs/prometheus.yaml
  stages/monitoring/configs/wtfd.yaml
Due: none

Triggering repos target before setting up monitoring
  stages/monitoring/monitoring.mk
Due: all_monitoring

Changed target for repositories to install
  stages/repos/variables/repos.yaml
Due: none

Dummy commit to trigger a pipeline
  stages/monitoring/monitoring.mk
Due: all_monitoring

Migrated media services configs to v2 entity versions
  stages/services/includes/media/configs/dave.yaml
  stages/services/includes/media/configs/podsync.yaml
  stages/services/includes/media/configs/printer.yaml
Due: none

Debugging directory module
  stages/early/files/etc/iacd/entities/iac.rcmd.space/directory.v2
Due: none

Debugging podsync config
  stages/services/includes/media/configs/podsync.yaml
Due: none

Changed podsync directory modules
  stages/services/includes/media/configs/podsync.yaml
Due: none

Added sync endpoint to task transformer config
  stages/secrets/templates/task-transformer.sh
Due: none

Adjusted podsync template to include video formats
  stages/services/includes/media/templates/podsync/podsync.toml.sh
Due: none

No need to double escape double quotes here
  stages/services/includes/media/templates/podsync/podsync.toml.sh
Due: none

Playlist sort value needs an escape here
  stages/services/includes/media/templates/podsync/podsync.toml.sh
Due: none

Added dnsmasq configs on Production box to iacd
  stages/services/includes/system/configs/dnsmasq.yaml
  stages/services/includes/system/files/etc/dnsmasq.d/split-dns.conf
  stages/services/includes/system/system.mk
  stages/services/services.mk
Due: none

Updated i.nv address
  stages/services/includes/system/files/etc/dnsmasq.d/split-dns.conf
Due: none

Making page size variable
  stages/services/includes/media/templates/podsync/podsync.toml.sh
Due: none

Transitioned all file entities to file.v2
  stages/services/includes/nginx/configs/nginx_base.yaml
  stages/services/includes/system/configs/k3s.yaml
  stages/services/includes/system/configs/motd.yaml
  stages/services/includes/system/configs/nfs_exports_outpost.yaml
  stages/services/includes/system/configs/snapraid.yaml
  stages/services/includes/system/configs/sshd.yaml
Due: none

/root/.kube is a directory
  stages/services/includes/system/configs/k3s.yaml
Due: none

Converted remaining steps in services.mk to iacd
  stages/services/configs/misc.yaml
  stages/services/configs/shared_functions.yaml
  stages/services/services.mk
Due: none

Changed relationship to triggers
  stages/services/configs/misc.yaml
Due: none

Removed drone CI configs entirely
  stages/services/includes/cicd/cicd.mk
  stages/services/services.mk
Due: none

CI/CD section cleanup: gitea and drone
  stages/services/includes/cicd/cicd.mk
  stages/services/includes/cicd/configs/gitea.yaml
  stages/services/includes/cicd/files/etc/systemd/system/drone-runner-amd64.service
  stages/services/includes/cicd/files/etc/systemd/system/drone-runner-arm.service
  stages/services/includes/cicd/files/etc/systemd/system/drone-server.service
  stages/services/includes/cicd/templates/gitea/app.ini.tmpl
  stages/services/includes/cicd/templates/gitea/secrets.sh
Due: none

Fixed wrong template location
  stages/services/includes/cicd/configs/gitea.yaml
Due: none

Path conditions:
  all_early: any of: stages/early/*, .woodpecker/all_early.yaml
  all_monitoring: any of: stages/monitoring/*, .woodpecker/all_monitoring.yaml
  all_users: any of: stages/users/**, .woodpecker/all_users.yaml
  outpost_gotify: any of: stages/services/includes/monitoring/templates/nginx/sites/gotify.sh, stages/services/includes/monitoring/monitoring.mk, .woodpecker/outpost_gotify.yaml
  production_firewall: any of: stages/firewall/*, .woodpecker/production_firewall.yaml
