Repository reactorcoremeltdown/dustbag: changes, and which Woodpecker steps are due for each by the changed paths.
All: all_early, all_monitoring, all_users, outpost_gotify, production_firewall

all_early:
  steps:
    build:
      image: bash
      commands:
      - echo $GIT_SUDO | sudo -S make early
      environment:
        GIT_SUDO:
          from_secret: git_sudo

all_monitoring:
  steps:
    clone:
      image: bash
      commands:
      - git clone --depth=1 ${CI_REPO_CLONE_SSH_URL}
    build:
      image: bash
      commands:
      - cd ${CI_REPO_NAME} && echo $GIT_SUDO | sudo -S make wtfd_package checks wtfd MACHINE_ROLE=${ROLE}
      environment:
        GIT_SUDO:
  ...

all_users:
  steps:
    clone:
      image: bash
      commands:
      - git clone --depth=1 ${CI_REPO_CLONE_SSH_URL}
    build:
      image: bash
      commands:
      - cd ${CI_REPO_NAME} && echo $GIT_SUDO | sudo -S make users MACHINE_ROLE=${ROLE}
      environment:
        GIT_SUDO:
          from_secret: git_sudo

outpost_gotify:
  steps:
    build:
      image: bash
      commands:
      - echo $GIT_SUDO | sudo -S make gotify
      environment:
        GIT_SUDO:
          from_secret: git_sudo

production_firewall:
  steps:
    build:
      image: bash
      commands:
      - echo $GIT_SUDO | sudo -S make firewall
      environment:
        GIT_SUDO:
          from_secret: git_sudo

Removed provisioned files
  stages/early/files/cfg/basic_files.yaml
Due: none

Shipping empty YAML file
  stages/early/files/cfg/basic_files.yaml
Due: none

Updated basic files
  stages/early/files/cfg/basic_files.yaml
Due: none

Does it need a double start to trigger recursive changes?
  .woodpecker/all_early.yaml
Due: all_early

Updated secondary file
  stages/early/files/cfg/basic_files.yaml
Due: none

Provisioning first real file with iacd
  stages/early/early.mk
  stages/early/files/cfg/apt_configs.yaml
Due: all_early

Installing base packages with iac
  stages/early/early.mk
  stages/early/files/cfg/core_packages.yaml
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
Due: all_early

Provisioned vault_binaries through iacd
  stages/early/early.mk
  stages/early/files/cfg/vault_binaries.yaml
Due: all_early

Provisioning core binaries with iac.rcmd.space/download
  stages/early/files/cfg/core_binaries_amd64.yaml
  stages/early/files/cfg/core_binaries_arm64.yaml
  stages/early/files/cfg/core_binaries_armhf.yaml
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
Due: none

Forgot to push changes here
  stages/early/early.mk
Due: all_early

Fixed all resource files
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
Due: none

Managing early stage required packages through iacd
  stages/early/early.mk
  stages/early/files/cfg/required_packages.yaml
Due: all_early

Enable directory listing for binaries repo tree
  stages/services/includes/nginx/templates/nginx/sites/repo.sh
Due: none

Installing tpl on all machines
  stages/early/files/cfg/core_binaries_amd64.yaml
  stages/early/files/cfg/core_binaries_arm64.yaml
Due: none

Redownloading arm64 binaries
  stages/early/files/cfg/core_binaries_arm64.yaml
Due: none

Reverted last change
  stages/early/files/cfg/core_binaries_arm64.yaml
Due: none

Extended iac.rcmd.space/file resource to allow compare command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
Due: none

Added compare commands to existing resources
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
Due: none

Suppressing compare output for package resource
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
Due: none

Removed test files from provisioning cycle
  stages/early/early.mk
  stages/early/files/cfg/basic_files.yaml
Due: all_early

Added facts collecting
  stages/early/early.mk
  stages/early/files/cfg/facts.yaml
Due: all_early

Provisioning facts with two resources
  stages/early/files/cfg/facts.yaml
  stages/early/files/usr/local/bin/facts
Due: none

An attempt to provision a template
  stages/early/early.mk
  stages/early/files/cfg/example.yaml
  stages/early/files/etc/iacd/entities/iac.rcmd.space/template
  stages/early/templates/example.txt.tmpl
  stages/early/variables/config.json
Due: all_early

Enabled debug output for all jq instances
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
  stages/early/files/etc/iacd/entities/iac.rcmd.space/template
Due: none

Revert "Enabled debug output for all jq instances"
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
  stages/early/files/etc/iacd/entities/iac.rcmd.space/template
Due: none

Provisioned bash profiles
  stages/early/early.mk
  stages/early/files/cfg/profiles.yaml
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
Due: all_early

Provisioning locales with IACD
  stages/early/early.mk
  stages/early/files/cfg/locales.yaml
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
  stages/early/files/etc/iacd/entities/iac.rcmd.space/template
Due: all_early

Printing all documents
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
  stages/early/files/etc/iacd/entities/iac.rcmd.space/template
Due: none

Included mirror URL into facts
  stages/early/files/usr/local/bin/facts
Due: none

Multitemplate module, file debug module
  stages/early/files/etc/iacd/entities/iac.rcmd.space/command
  stages/early/files/etc/iacd/entities/iac.rcmd.space/download
  stages/early/files/etc/iacd/entities/iac.rcmd.space/file_debug
  stages/early/files/etc/iacd/entities/iac.rcmd.space/multitemplate
  stages/early/files/etc/iacd/entities/iac.rcmd.space/package
  stages/early/files/etc/iacd/entities/iac.rcmd.space/template
Due: none

Deploying wtfd checks using multitemplate iacd module
  stages/monitoring/configs/checks_homeserver.yaml
  stages/monitoring/configs/checks_outpost.yaml
  stages/monitoring/configs/checks_printserver.yaml
  stages/monitoring/configs/checks_production.yaml
  stages/monitoring/configs/wtfd.yaml
  stages/monitoring/monitoring.mk
  stages/monitoring/templates/check.ini.tmpl
  stages/monitoring/variables/checks_homeserver.yaml
  stages/monitoring/variables/checks_outpost.yaml
  stages/monitoring/variables/checks_printserver.yaml
  stages/monitoring/variables/checks_production.yaml
Due: all_monitoring

Corrected resource names
  stages/monitoring/configs/checks_homeserver.yaml
  stages/monitoring/configs/checks_outpost.yaml
  stages/monitoring/configs/checks_printserver.yaml
  stages/monitoring/configs/checks_production.yaml
Due: none

Added extensions to multitemplate module
  stages/monitoring/configs/checks_homeserver.yaml
  stages/monitoring/configs/checks_outpost.yaml
  stages/monitoring/configs/checks_printserver.yaml
  stages/monitoring/configs/checks_production.yaml
Due: none

Fixed multitemplate module
  stages/early/files/etc/iacd/entities/iac.rcmd.space/multitemplate
Due: none

Force restart all failed entries
  stages/monitoring/configs/wtfd.yaml
Due: none

Adjusted template file
  stages/monitoring/templates/check.ini.tmpl
Due: none

Another template lineup
  stages/monitoring/monitoring.mk
  stages/monitoring/templates/check.ini.tmpl
Due: all_monitoring

Trimming last newline
  stages/monitoring/templates/check.ini.tmpl
Due: none

Supplied template with conditionals
  stages/monitoring/templates/check.ini.tmpl
Due: none

Path conditions:
  all_early: any of: stages/early/*, .woodpecker/all_early.yaml
  all_monitoring: any of: stages/monitoring/*, .woodpecker/all_monitoring.yaml
  all_users: any of: stages/users/**, .woodpecker/all_users.yaml
  outpost_gotify: any of: stages/services/includes/monitoring/templates/nginx/sites/gotify.sh, stages/services/includes/monitoring/monitoring.mk, .woodpecker/outpost_gotify.yaml
  production_firewall: any of: stages/firewall/*, .woodpecker/production_firewall.yaml
