Repository reactorcoremeltdown/dustbag: changes, and which Woodpecker steps are due for each by the changed paths.
All: all_early, all_monitoring, all_users, outpost_gotify, production_firewall

.woodpecker/all_early.yaml:

---
when:
  - path:
      include:
        - 'stages/early/*'
        - '.woodpecker/all_early.yaml'
    event: push
labels:
  role: production
steps:
  build:
    image: bash
    commands:
      - echo $GIT_SUDO | sudo -S make early
    environment:
      GIT_SUDO:
        from_secret: git_sudo

---
when:
  - path:
      include:
        - 'stages/early/*'
        - '.woodpecker/all_early.yaml'
    event: push
labels:
  role: homeserver
steps:
  build:
    image: bash
    commands:
      - echo $GIT_SUDO | sudo -S make early
    environment:
      GIT_SUDO:
        from_secret: git_sudo

---
when:
  - path:
      include:
        - 'stages/early/*'
        - '.woodpecker/all_early.yaml'
    event: push
labels:
  role: outpost
steps:
  build:
    image: bash
    commands:
      - echo $GIT_SUDO | sudo -S make early
    environment:
      GIT_SUDO:
        from_secret: git_sudo

---
when:
  - path:
      include:
        - 'stages/early/*'
        - '.woodpecker/all_early.yaml'
    event: push
labels:
  role: printserver
steps:
  build:
    image: bash
    commands:
      - echo $GIT_SUDO | sudo -S make early
    environment:
      GIT_SUDO:
        from_secret: git_sudo

.woodpecker/all_monitoring.yaml:

---
when:
  - path:
      include:
        - 'stages/monitoring/*'
        - '.woodpecker/all_monitoring.yaml'
    event: push
matrix:
  ROLE:
    - production
    - homeserver
    - outpost
    - printserver
labels:
  role: ${ROLE}
skip_clone: true
steps:
  clone:
    image: bash
    commands:
      - git clone --depth=1 ${CI_REPO_CLONE_SSH_URL}
  build:
    image: bash
    commands:
      - cd ${CI_REPO_NAME} && echo $GIT_SUDO | sudo -S make wtfd_package checks wtfd MACHINE_ROLE=${ROLE}
    environment:
      GIT_SUDO:
        from_secret: git_sudo

.woodpecker/all_users.yaml:

---
when:
  - path:
      include:
        - 'stages/users/**'
        - '.woodpecker/all_users.yaml'
    event: push
matrix:
  ROLE:
    - production
    - homeserver
    - outpost
    - printserver
labels:
  role: ${ROLE}
skip_clone: true
steps:
  clone:
    image: bash
    commands:
      - git clone --depth=1 ${CI_REPO_CLONE_SSH_URL}
  build:
    image: bash
    commands:
      - cd ${CI_REPO_NAME} && echo $GIT_SUDO | sudo -S make users MACHINE_ROLE=${ROLE}
    environment:
      GIT_SUDO:
        from_secret: git_sudo

.woodpecker/outpost_gotify.yaml:

---
when:
  - path:
      include:
        - 'stages/services/includes/monitoring/templates/nginx/sites/gotify.sh'
        - 'stages/services/includes/monitoring/monitoring.mk'
        - '.woodpecker/outpost_gotify.yaml'
labels:
  role: outpost
steps:
  build:
    image: bash
    commands:
      - echo $GIT_SUDO | sudo -S make gotify
    environment:
      GIT_SUDO:
        from_secret: git_sudo

.woodpecker/production_firewall.yaml:

---
when:
  - path:
      include:
        - 'stages/firewall/*'
        - '.woodpecker/production_firewall.yaml'
    event: push
labels:
  role: production
steps:
  build:
    image: bash
    commands:
      - echo $GIT_SUDO | sudo -S make firewall
    environment:
      GIT_SUDO:
        from_secret: git_sudo

Downloads with cookies are not working
  stages/services/includes/media/files/etc/yt-dlp/config
Due: none

Added windows 11 macbook
  stages/users/files/authorized_keys
Due: all_users

Removed native instruments website check
  stages/monitoring/variables/checks_homeserver.yaml
Due: none

Removed deprecated HTTP2 declaration from gotify
  stages/services/includes/monitoring/templates/nginx/sites/gotify.sh
Due: outpost_gotify

Added geoip-database to every server
  stages/packages/configs/packages_essentials.yaml
Due: none

Disabled SSL stapling across the board, not applicable to letsencrypt
  stages/services/includes/nginx/files/etc/nginx/conf.d/ssl.conf
Due: none

Added proxy_header_hash settings across the board
  stages/services/includes/nginx/configs/nginx_base.yaml
  stages/services/includes/nginx/files/etc/nginx/conf.d/proxy_header_hash.conf
Due: none

Typo in a config file
  stages/services/includes/nginx/files/etc/nginx/conf.d/proxy_header_hash.conf
Due: none

Updated proxy_header_hash settings
  stages/services/includes/nginx/files/etc/nginx/conf.d/proxy_header_hash.conf
Due: none

Try-reload-or-restart is a better failsafe option
  stages/services/includes/nginx/configs/nginx_base.yaml
Due: none

Do not update payload if device name is empty
  stages/services/includes/monitoring/files/usr/local/bin/deviceping-receiver
Due: none

Removed public SSH access
  stages/firewall/variables/firewall.yaml
Due: none

Changed default git host to VPN-based
  stages/users/configs/users.yaml
  stages/users/files/git/ssh/config
Due: all_users

Updated gitea config
  stages/services/includes/nginx/templates/nginx/sites/git.sh
Due: none

Added balance tracking
  stages/services/files/crons/main/ledger
  stages/users/files/home/ledger/bin/balance_delta.sh
  stages/users/files/home/ledger/bin/track_balance.sh
Due: all_users

Fixed bad copy-pasta
  stages/users/files/home/ledger/bin/track_balance.sh
Due: all_users

Blocking SSH breaks everything
  stages/firewall/variables/firewall.yaml
Due: none

Query must order by time
  stages/users/files/home/ledger/bin/balance_delta.sh
Due: all_users

Rescheduled balance counter check
  stages/services/files/crons/main/ledger
Due: none

Added a dmesg disks health check
  stages/monitoring/files/plugins/check_dmesg_disks.sh
  stages/monitoring/variables/checks_homeserver.yaml
Due: none

Forgot to source okfail
  stages/monitoring/files/plugins/check_dmesg_disks.sh
Due: none

Kicked split dns config
  stages/services/includes/system/files/etc/dnsmasq.d/split-dns.conf
Due: none

Reverted last change
  stages/services/includes/system/files/etc/dnsmasq.d/split-dns.conf
Due: none
